.controls {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.controls .addtask {
    background-color: skyblue;
    border: 1px solid skyblue;
    border-radius: 12px;
    width: 100px;
    height: 50px;
}
.addtask:hover,.addtask:focus {
    background-color: skyblue;
    border: 1px solid skyblue;
    box-shadow: 0 1px 2px rgba(0,0,0,0.35);
    border-radius: 12px;
    width: 100px;
    height: 50px;
}

.empty{
    width: 220px;
    margin: 100px auto;
    text-align: center;
    font-size: 1.22rem;
}

.pagination1 {
    margin-left: 45%;
    margin-top: 10px;
}