.todo {
    width: 100%;
    min-height: 100px;
    margin: 16px;
    border-radius: 25px;
    display: flex;
    padding: 16px 16px 16px 32px;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.35);
    color: white;
}
.todo:hover,.todo:focus {
    box-shadow: 0 1px 2px rgba(0,0,0,0.75);
}
p{
    margin: 0;
    padding: 0;
}
.eachtask {
    width:50%;
    margin: 0 24px;
    word-break: break-all;
}
.edit{
    text-align: center;
    line-height: 40px;
    padding-left: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.35);
    color: #090B10;
    box-sizing: border-box;
    background-color: #BB86FC;
    margin-left: auto;
    margin-right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
.delete{
    text-align: center;
    line-height: 40px;
    background-color: rgb(250, 132, 132);
    width: 40px;
    height: 40px;
    border-radius: 100px;
    color: #090B10;
}
.completed{
    text-align: center;
    line-height: 40px;
    background-color: rgb(126, 252, 126);
    margin: 0 8px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    color: #090B10;
}

@media (max-width: 900px) {
    .todo {
        width: 100%;
        margin: 16px auto;
        padding: 8px;
    }
    .eachtask {
        margin: 0 8px;
        word-break: break-all;
    }
}